<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather-app-flask</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<style>
    body {
      font-family: 'Courier New', monospace, bold;
    background: #00000e;
    color: aliceblue;
    }
</style>
<body>
    <div>
        <div id="error-container">
            <div>
                <div class="text-center" >
                <h2>404 :(</h2>
                <h3>Looks like you input an invalid City Name. pls try again.</h3>
                <h3>Click to go back to the <a href="/" rel="noopener noreferrer">Home page</a>.</h3>
            </div>
        </div>
</body>